# Virtual environment
socially-venv

# Configuration and secret files
.env

# Logs
logs/
app_logs.log

# Compiled Python files
__pycache__

# Unnecessary or misnamed directory
socially_env
KafkaMagicConfig.db
